<%- model_class = Party -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @party.name %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:party_date) %>:</strong></dt>
  <dd><%= @party.party_date %></dd>

  <dt><strong>Total collected:</strong></dt>
  <dd><%= @party.transactions.sum(:value) %></dd>
  <!-- 
    TODO: mudar toda essa gambiarra
  -->
  <% customers = User.joins(:profile).where(role: 0).order('profiles.name') %>

  <% customers.each do |c| %>

    <% transactions = @party.transactions.where(customer_id: c) %>

    <% unless transactions.empty? %>
      <dt><strong><%= c.profile.name %>:</strong></dt>
      <dd><%= c.transactions.sum(:value) %></dd>
    <% end %>

  <% end %>

  <dt><strong>Total consumption:</strong></dt>
  <dd><%= @party.transactions.where(customer_id: customers).sum(:value) %></dd>


</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              parties_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_party_path(@party), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              party_path(@party),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
