<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% @user.build_profile %>
  
  <%= f.fields_for :profile, @user.profile do |ff| %>

    <div class="form-group">
      <%= ff.label :name, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= ff.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@user.profile[:name]) %>
    </div>

    <div class="form-group">
      <%= ff.label :email, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= ff.text_field :email, :class => 'form-control' %>
      </div>
      <%= error_span(@user.profile[:email]) %>
    </div>


    <div class="form-group">
      <%= f.label :role, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-6">

        <%= radio_button_tag(:role, "customer"%>
        <%= label_tag(:role_customer, "Customer") %>
        <%= radio_button_tag(:role, "employee") %>
        <%= label_tag(:age_employee, "Employee") %>

      </div>
      <%= error_span(@user.profile[:email]) %>
    </div>

    
  <% end %>





  <div class="form-group">
      <%= f.label :password, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
  </div>



  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            users_path, :class => 'btn btn-default' %>

<% end %>
