<%- model_class = Sale -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Bank Statement"%></h1>
</div>

<dl class="dl-horizontal">
  <% if @shopping.presence %>
    <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
    <dd><%= @shopping.first.customer.profile.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
    <dd><%= @shopping.first.customer.profile.email %></dd>
    <dt><strong><%= model_class.human_attribute_name(:credits) %>:</strong></dt>
    <dd><%= @shopping.first.customer.profile.credits %></dd>
    
  <% end %>
</dl>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Vendor</th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Purchase Price</th>
      <th>Party</th>

      <th>Date of purchase</th>
    </tr>
  </thead>
  <tbody>
    <% @shopping.each do |shop| %>
      <tr>
        <td><%= shop.id %></td>
        <td><%= shop.employee.profile.name %></td>
        <td><%= shop.product_name %></td>
        <td><%= number_to_currency shop.product_price %></td>
        <td><%= shop.quantity %></td>
        <td><%= number_to_currency shop.value %></td>
        <td><%= shop.party.name %></td>

        <td><%=I18n.l shop.created_at, format: :default %></td>
      </tr>
    <% end %>
  </tbody>

</table>
