<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Name</th>
      <th>Email</th>
      <th>Credits (R$)</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class='clickable-row' data-href="/profiles/<%=user.profile.id%>" >
        <td><%= user.id %></td>
        <td><%= link_to user.profile.name, profile_path(user.profile) %></td>
        <td><%= user.email %></td>
        <td><%= user.profile.credits %></td>
        <td>
          <%= link_to 'Bank Statement', {controller: "users", action: "bank_statement", id: user.id}, :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to('New', new_user_url, :class => 'btn btn-primary') %>

