<%- model_class = User -%>
<div class="page-header">
  <h1><%= t("activerecord.attributes.user.role.#{params[:role]}") %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_user_url,
              :class => 'btn btn-primary' %>


</div>

<%= form_tag '', :method => :get, class: "form-inline", role: "form" do %>
    <div class="form-group">
      <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "Busca..." %>
    </div>
    <%= hidden_field_tag :role, params[:role] %>
    <div class="form-group">
      <%= submit_tag 'Filtrar', class: "btn btn-default btn-sm", role: :customer %>
    </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Name</th>
      <th>Email</th>
      <th>Credits (R$)</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class='clickable-row' data-href="/profiles/<%=user.profile.id%>" >
        <td><%= user.id %></td>
        <td><%= link_to user.profile.name, profile_path(user.profile) %></td>
        <td><%= user.email %></td>
        <td><%= user.profile.credits %></td>
        <td>
          <%= link_to t("helpers.links.bank_statement"), {controller: "users", action: "bank_statement", id: user.id}, :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, renderer: BootstrapPagination::Rails  %>


